{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <link href="/themes/drupal8_zymphonies_theme/css/zoom.css" rel="stylesheet">
</head>
<body{{ attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}">
    <script src="/themes/drupal8_zymphonies_theme/js/jquery.masonry.min.js"></script>
    <script src="/themes/drupal8_zymphonies_theme/js/transition.js"></script>
    <script src="/themes/drupal8_zymphonies_theme/js/zoom.min.js"></script>
    <script>
        var $container = jQuery('.node--type-gallerie.node--view-mode-full .field--name-field-images');
        if ($container.length > 0) {
            // $container.imagesLoaded( function(){
            $container.masonry({
                itemSelector: '.field__item'
            });
            // });
        }

    </script>
    <script>
        {# Active the zoom on all content image#}
        jQuery(document).ready(function () {
            jQuery("#wrapper img:not(.no-zoom)").on('load', function () {
		// load is never call perhaps its too quick ?
		if(jQuery(this).closest('.cboxElement').length > 0){
			return;
		}
                if (jQuery(this).width() != jQuery(this).prop('naturalWidth') || jQuery(this).height() != jQuery(this).prop('naturalHeight')) {
                    jQuery(this).attr("data-action", "zoom");
                }
            });
	    jQuery("#wrapper img:not(.no-zoom)").each(function () {
		if(jQuery(this).closest('.cboxElement').length > 0){ 
                        return;
                }
                if (jQuery(this).width() != jQuery(this).prop('naturalWidth') || jQuery(this).height() != jQuery(this).prop('naturalHeight')) {
                    jQuery(this).attr("data-action", "zoom");
                }
            });
        });
    </script>
</body>
</html>
